{% extends 'base.html' %}

{% block title %} Game {% endblock %}

{% block content %} <form action="/madlib">
        <p>
        Tell us a color:<input type = "text" name = "color"> 
        </p>
        <p>
        Tell us a noun:<input type = "text" name = "noun"> 
        </p>
        <p>
        Tell us an adjective:<input type = "text" name = "adjective"> 
        </p>
        <p>
        Tell us a person:<input type = "text" name = "person"> 
        </p>
        <input type= "submit" value = "Jama Karen">
    </form>
{% endblock %}
